@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
::selection{
    background-color: var(--accent-color);
    color: #ffffff;
}
body{
    width: 100%;
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --tertiary-color: #64646433;
    --primary-text-color: #141414;
    --secondary-text-color: #444444;

    --accent-color: #0f6be8;
    --header-font: "Poppins", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;

    scroll-behavior: smooth;
}

/* Home Section */
#home{
    height: 70vh;
    background-color: var(--primary-text-color);
    text-align: center;
}
#home h1{
    font-family: var(--header-font);
    font-size: 75px;
    color: #ffffff;
    padding-top: 20vh;
}
#home p{
    font-family: var(--paragraph-font);
    font-size: 30px;
    color: #bfbfbf;
    margin-top: -2vh;
    margin-bottom: 1vh;
}
#home .importantButton{
    color: var(--accent-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 25px;
    border: solid var(--accent-color);
    padding: 8px;
    border-radius: 10px;
    transition: 0.2s;
    width: fit-content;
    display: inline-block;
    margin: 5px;
}
#home .importantButton:hover, .home .importantButton:focus{
    background-color: var(--accent-color);
    color: white;
    transform: scale(1.15);
}
#home .unimportantButton{
    color: var(--accent-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 25px;
    padding: 8px;
    border-radius: 10px;
    transition: 0.2s;
    width: fit-content;
    display: inline-block;
    margin: 8px;
}
#home .unimportantButton:hover, .home .unimportantButton:focus{
    text-decoration: underline;
    color: white;
}

/* Projects Section */
#projects{
    height: fit-content;
}
#projects .project{
    width: 100%;
    margin-bottom: 5%;
}
#projects .project .projectTextContainer{
    width: 35%;
    margin: 5%;
    display: inline-block;
    vertical-align: middle;
}
#projects .project h2{
    font-family: var(--header-font);
    font-size: 40px;
    color: var(--primary-text-color);
}
#projects .project p{
    font-family: var(--paragraph-font);
    font-size: 20px;
    color: var(--secondary-text-color);
}
#projects .project .importantButton{
    color: var(--accent-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 20px;
    border: solid var(--accent-color);
    padding: 4px;
    border-radius: 10px;
    transition: 0.2s;
    width: fit-content;
    display: inline-block;
    margin-right: 10px;
    margin-top: 2vh;
}
#projects .project .projectTextContainer .importantButton:hover, .projects .project .projectTextContainer .importantButton:focus{
    background-color: var(--accent-color);
    color: white;
    transform: scale(1.15);
}
#projects .project .unimportantButton{
    color: var(--accent-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    transition: 0.2s;
    width: fit-content;
    display: inline-block;
    margin: 8px;
}
#projects .project .projectTextContainer .unimportantButton:hover, .projects .project .projectTextContainer .unimportantButton:focus{
    text-decoration: underline;
    color: var(--primary-text-color);
}
#projects .project img{
    width: 45%;
    display: inline-block;
    margin: 0 5%;
    vertical-align: middle;
}
#projects .projectCarousel{
    background-color: var(--primary-text-color);
    height: 50vh;
    clip-path: polygon(0 15%, 115% 0, 115% 90%, 0 100%);
}

/* About Section */
#about{
    height: fit-content;
    text-align: center;
}
#about h2{
    padding-top: 10vh;
    font-family: var(--header-font);
    font-size: 50px;
    color: var(--primary-text-color);
}
#about p{
    padding-bottom: 10vh;
    width: 50%;
    font-family: var(--paragraph-font);
    font-size: 25px;
    color: var(--secondary-text-color);
    margin-left: 25%;
}
#about svg{
    display: block;
}

/* Contact Section */
#contact{
    height: 50vh;
    background-color: var(--primary-text-color);
    text-align: center;
}
#contact ul li{
    transition: 0.2s;
    display: inline-block;
    background-color: #64646433;
    padding: 5px 5px 0px;
    border-radius: 25px;
    margin: 1%;
}
#contact ul .discordIcon:hover, #contact ul .discordIcon:focus{
    background-color: #5865f2;
}
#contact ul .youtubeIcon:hover, #contact ul .youtubeIcon:focus{
    background-color: #ff0000;
}
#contact ul .emailIcon:hover, #contact ul .emailIcon:focus{
    background-color: var(--accent-color);
}